* {
    box-sizing: border-box;
    margin: 0;
}

.wrap {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
}
    /*Шапка сайта*/
header {
    padding: 107px 0 40px;
    margin: 0px;
}

h1 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #212121;
}

hr {
    border: none;
    background: #FF8B38;
    width: 64px;
    height: 2px;
    margin: 30px auto;
}

span {
    color: #86878B;
    font-size: 14px;
    width: 359px;
    height: 14px;
    text-align: left;
}
    /*Оснавная часть с заголовком*/
main {
    margin: 40px auto 106px; 
}

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.circle {
    width: 70px; 
    height: 70px;
    border-radius: 50%;
    margin: 0 auto; 
    border: 2px solid #FF8B38;
}

.icon_lamp {
    background: url(../img/icon/lamp.png) no-repeat center ;
}

.icon_keyboard {
    background: url(../img/icon/keyboard.png) no-repeat center;
}

.icon_lightning {
    background: url(../img/icon/lightning.png) no-repeat center;
}

h2 {
    margin: 29px auto;
    color: #333333;
    font-size: 20px;
}

p {
    color: #86878B;
    font-size: 14px;
}
    /*Почти такое же как main только чуть менее важное*/
.subject {
    background-image: url(../img/custom.png);
    background-size: auto;
    padding-bottom: 63px;
}

h3 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 76px;
}

.line {
    border-bottom: 2px solid #FFFFFF;
    width: 74px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.subtitle {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    opacity: 0.8;
    padding-bottom: 33px;
    font-weight: 300;
}

.btn {
    display: inline-block;
    border: 3px solid #FFFFFF;
    width: 135px;
    height: 42px;
    color: #FFFFFF;
    text-decoration: none;
}

.text_btn {
    margin-top: 5px;
}
    /*Footer ссылки на соц. сети*/
footer {
    background: #000000;
    width: 100%;
}  

.socials {
    width: 317px;
    height: 24px;
    margin: 0px auto;
    margin-top: 39px;
    display: inline-block;
    color: #CCCCCC;
}

.facebook {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/facebook.png) no-repeat;
}

.twitter {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/twitter.png) no-repeat;
}

.vk {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/vk.png) no-repeat;
}

.pinterest {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/pinterest.png) no-repeat;
}

.instagram {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/instagram.png) no-repeat;
}

.stumbleupon {
    display: inline-block;
    width: 44px;
    height: 24px;
    background: url(../img/icon/stumbleupon.png) no-repeat;
}

.rss {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/icon/rss.png) no-repeat;
}

.date_themes {
    margin-top: 15px;
    color: #FFFFFF;
    opacity: 0.5019607843137255;
    font-size: 12px;
    text-align: center;
}
